<div class="container mt-5" style="max-width: 500px;">

  <h2 class="mb-3 text-center">Restablecer Contraseña</h2>

  <!-- Token inválido -->
  <div *ngIf="mensajeError && !token" class="alert alert-danger">
    {{ mensajeError }}
  </div>

  <!-- Form -->
  <app-form
    *ngIf="token"
    [fields]="fields"
    [formGroup]="formGroup"
    [disableSubmit]="disableSubmit"
    (submitForm)="onSubmit($event)"
  ></app-form>

  <!-- Mensajes -->
  <div *ngIf="mensajeError" class="alert alert-danger mt-3">
    {{ mensajeError }}
  </div>

  <div *ngIf="mensajeExito" class="alert alert-success mt-3">
    {{ mensajeExito }}
  </div>

</div>

