.separator {
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.35);
  border-radius: 2px;
}
.dark-background {
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('https://lh3.googleusercontent.com/gps-cs-s/AG0ilSzxwzN8RKrxTUvIXHpPThGYFtU0isG9jc5zqrJTNUannsGla1pqdmUnwkfBQKYEknR3s1cZJlFgdYgevoLLQes4KAnhibCP1aJWPaoOGOAloqr6XYpF51Wy8-z73QbkLFUcgBb0=s1360-w1360-h1020-rw');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}